@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');
html{
    margin: 0;
    padding: 0;
}
body{
    background: url("./../../uploads/fon-1.jpg");
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    margin: 0 -15px;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: #f85c37;
}

a:hover, a:focus{
    color: #7b7b7b;
}

.btn-secondary-custom{
    border-radius: 1px !important;
    margin-bottom: 1px !important;
}
/* НАВИГАЦИЯ */
.header{
    position: fixed;
    z-index: 999;
    width: 100%;
}
.content{
    padding-top: 155px;
}
.col-present-custom{
    /* margin-top: -10px;
    margin-bottom: -10px; */
    /* height: 114px; */
    /* max-height: 90px; */
}
.navbar-custom{
    background: hsl(0, 2%, 28%);
    border: 2px solid #000;
    height: 100%;
}
.navbar-block-custom{
    background: rgba(0, 0, 0, 0.699);
}
.navbar-collapse-customs{
    margin: 0 auto !important;
}
.navbar-brand-customs{
    border: 2px solid #000;
    display: block;
    max-width: 200px;
    margin: 0 auto;
    text-align: center;

}
.navbar-brand-customs img{
    max-width: 50px;
    max-height: 50px;
}
.form-inline-customs{
    max-width: 180px;
}
.form-control-customs{
    max-width: 100px;
}

.btn-customs{
    max-width: 70px;
}
.basked-block{
    width: 180px;
    text-align: center;
}
.basked{
    font-size: 20px;
}
.nav-link-customs {
    color: #f85c37 !important;
    font-size: 26px !important;
    font-weight: 500 !important;
}
.nav-item-customs{
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-item-customs:hover{
    height: 100%;
    border-top: 2px solid #f85c37;
    margin-top: -12px;
    /* margin-top: -2px; */
    color:  #f85c37;
}
.nav-item-customs:hover a{
    color:  #f85c37 !important;
}
.navbar-nav-customs{
    margin: 0 auto;
}